
body {
    background-color: #f4f7f6 !important;
    font-family: Arial, sans-serif;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card {
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(240, 174, 232, 0.1);
}

.card:hover{
    background-color: #bcd8f7;
}

.badge {
    display: inline-block;
    background: #ff7675;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

.btn-tombol {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.btn-tombol:hover {
    background-color: #0056b3;
}

.ACC-tombol {
    display: inline-block;
    padding: 10px 20px;
    background-color: #53ff9d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.ACC-tombol:hover {
    background-color: #30ed62;
}

.RJT-tombol {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d; /* Warna abu-abu untuk Reject */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.RJT-tombol:hover {
    background-color: #5a6268; /* Warna saat mouse di atasnya */
}